body {
  margin: 0;
  height: 100vh;
  background-color: #4f4753;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer {
  border: 1px solid #292e38;
}
#header {
  grid-area: header;
  color: #ced2da;
  text-align: center;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  color: #c0c3c9;
}
#footer {
  grid-area: footer;
  color:#c0c3c9 ;
  text-align: center;
}
#sidenav {
  grid-area: sidenav;
  color: #c0c3c9;
}

.block {
  width: 200px;
  height: 200px;
  border: 1px outset #111827;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  background-color: #c0c3c9;
  color: #15181f;
}